# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Model Files (optional)
*.pkl

# Logs
*.log